streamlit==1.30.0
pandas==2.1.4
Pillow==10.2.0
matplotlib==3.8.2
seaborn==0.13.1
numpy==1.26.3
plotly==5.18.0
shapash==2.7.4
scikit-learn>=1.4.0
tensorflow>=2.16.1
codecarbon==2.3.3
mlflow==2.9.2
setuptools==69.0.3
